:root .base {
  --headings-margin-bottom:      calc(var(--spacer) * .5);
  --headings-font-family:        initial;
  --headings-font-style:         initial;
  --headings-font-weight:        500;
  --headings-line-height:        1.2;
  --headings-color:              inherit;
}

:root .light {
  background-color: rgb(238, 238, 238);
}

:root .dark {
  background-color: rgb(27, 26, 26);
}
